<template>
  <nav class="navbar has-shadow">
    <div class="navbar-brand">
      <!-- Find some other image -->
      <router-link to="/" class="navbar-item"><img src="http://bit.ly/vue-img" alt="Vue SPA" /></router-link>
      <div class="navbar-item"><a v-on:click.prevent="showCreatePanel" href="#" class="button is-primary">Create</a></div>
    </div>
  </nav>
</template>

<script>
  export default {
    methods: {
      showCreatePanel () {
        this.$store.dispatch('createRequested')
      }
    }
  }
</script>
