<template lang="html">
  <section>
    <div class="raw-clicks">
      <table class="table">
        <thead>
          <tr>
            <th>IP Address</th>
            <th>Device Type</th>
            <th>Browser</th>
            <th>OS</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(k, v) in sweetUrlDetails.rawClicks">
            <td>{{k.ipAddress}}</td>
            <td>{{k.deviceType}}</td>
            <td>{{k.browser}}</td>
            <td>{{k.os}}</td>
            <td>{{k.created}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    computed: {
      ...mapGetters(['sweetUrlDetails'])
    },
    methods: {
      loadSweetUrlDetails (id) {
        this.$store.dispatch('loadSweetUrlDetails', id)
      }
    },
    watch: {
      '$route' (to, from) {
        this.loadSweetUrlDetails(this.$route.params.id)
      }
    },
    created () {
      this.loadSweetUrlDetails(this.$route.params.id)
    }
}
</script>

<style scoped lang="css">
  .raw-clicks {
    padding-right: 20px;
  }
</style>
