<template lang="html">
  <div class="columns">
    <div class="column is-one-third">
      <div class="card sweet-url-card" v-for="(k, v) in sweetUrls" v-on:click="showDetails(k.id)">
        <div class="card-content">
          <div class="title">{{k.originalUrl}}</div>
          <div class="subtitle">{{k.shortUrl}}</div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>Created on: {{k.created}}</span>
            </p>
          </footer>
        </div>
      </div>
    </div>
    <div class="column is-two-thirds">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    computed: {
      ...mapGetters(['sweetUrls'])
    },
    methods: {
      loadSweetUrls () {
        this.$store.dispatch('loadSweetUrls')
      },
      showDetails (sweetUrlID) {
        this.$store.dispatch('showDetails', sweetUrlID)
      }
    },
    watch: {
      '$route' (to, from) {
        this.loadSweetUrls()
      }
    },
    created () {
      this.loadSweetUrls()
    }
  }
</script>

<style lang="scss" scoped>
  .card {
    margin-bottom: 5px;
  }
  .sweet-url-card {
    cursor: pointer;
  }
</style>
