<template>
  <div class="layout">
    <app-header></app-header>
    <section class="main-section section">
      <div class="container content">
        <router-view></router-view>
      </div>
    </section>
    <app-footer></app-footer>
    <div v-if="userAction === 'create'" class="create-panel">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-heading-inner">
            <p>Create Sweet Link</p>
            <p class="create-close">X</p>
          </div>
        </div>
        <div class="panel-block">
          <div class="field full-width">
            <label class="label">Long URL</label>
            <div class="control">
              <input v-model="longUrl" class="input tall-input" placeholder="Paste long url..."></input>
            </div>
          </div>
        </div>
        <div class="panel-block">
          <button v-on:click="addSweetUrl(longUrl)" class="button is-primary is-fullwidth">
            Done
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import AppHeader from './AppHeader.vue'
  import AppFooter from './AppFooter.vue'
  export default {
    components: {
      'app-header': AppHeader,
      'app-footer': AppFooter
    },
    computed: {
      ...mapGetters(['userAction'])
    },
    data: () => ({
      longUrl: ''
    }),
    methods: {
      addSweetUrl (longUrl) {
        this.$store.dispatch('addSweetUrl', longUrl)
      }
    }
  }
</script>

<style lang="scss">
@import '~bulma';
.columns {
  flex-wrap: wrap;
}
.create-panel {
  background: #fff;
  border: 1px solid #dbdbdb;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}
.panel-heading-inner {
  position: relative
}
.create-close {
  position: absolute;
  top: 0;
  right: 0;
}
.full-width {
  width: 100%;
}
.tall-input {
  height: 5rem;
}
</style>
